/*mobile loadout*/
.general {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.5rem;
    padding: 2rem;
    padding-top: 0rem;
}
.image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.text {
    text-align: center;
    max-width: 450px;
}
/*desktop loadout*/
@media (min-width: 768px){
    .general{
        margin-top: 80px;
        flex-direction: column;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    .text{
        text-align: left;
        max-width: 700px;
        line-height: 1.6;
    }
}